!!! 5
html
  head
    title= (typeof(title) !== 'undefined') ? title : "Bofirial"

    meta(name="viewport")(content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet", type="text/css", href="/stylesheets/normalize.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")
    
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js")(type="text/javascript")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js")(type="text/javascript")
    script(src="/socket.io/socket.io.js")(type="text/javascript")
    script(src="/scripts/types.js")(type="text/javascript")
    script(src="/scripts/bofirial.js")(type="text/javascript")

  body
    .headerWrapper
      .header(data-username= (everyauth.loggedIn? everyauth.user.firstName : undefined))
        a(href='/') 
          h1 Bofirial
        
        .userNav
          - if (everyauth.loggedIn)
            a(href='/profile')= everyauth.user.firstName
            a(href='/logout') Logout
          - else
            a(href='/auth/google') Sign In        
        
        != partial('header/_globalNav');
        
        != partial('header/_gameList');

     .expandBar
       
    #main
      != body

