
ul.sectionList
  li.newGame
  
    h2 New Game
  
    form(action="/newgame", method="POST")
        
      != partial('helpers/checkbox', {label: 'Private Game', name: 'game[private]', def: true})

      != partial('helpers/dropdown', {model: types.gameTypes, name: 'game[type]', def: types.gameTypes.ticTacToe.value, label: "Game"});
        
      != partial('helpers/textbox', {label: 'Game Name', name: 'game[name]', def: ""})
      
      != partial('helpers/submit', {label: "Create Game"})
