

h2 Active Games

ul.openGames
  li.ticTacToe.turnIndicator
    a(href='javascript:void(0)') Brandon - Tic Tac Toe
    
    .gameStatPanel
      .gameStats
        label Wins
        span.self 10
      .gameStats
        label Losses
        span.opponent 4
      
      table.gameBoard
        tr
          td.self X
          td 
          td O
        tr
          td O
          td.self X
          td.self X
        tr
          td 
          td 
          td O
        
  li.ticTacToe
    a(href='javascript:void(0)') Justin - Tic Tac Toe
    
    .gameStatPanel
      .gameStats
        label Wins
        span.self 6
      .gameStats
        label Losses
        span.opponent 34
      
      table.gameBoard
        tr
          td X
          td.self O 
          td.self O
        tr
          td.self O
          td X
          td
        tr
          td X
          td 
          td X
